<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xyt.mapper.ArticleMapper">
    <insert id="insertArticle" parameterType="com.xyt.model.Article">
        INSERT INTO  article (title,content,author_id,create_date,modify_date)
        VALUES(#{title},#{content},#{authorId},#{createDate},#{createDate})
    </insert>
    <insert id="insertArticleToHistory">
        INSERT INTO  article_history (id,title,content,author_id,create_date,modify_date)
        VALUES(#{article.id},#{article.title},#{article.content},#{article.authorId},#{article.createDate},#{deleteDate})
    </insert>
    <update id="updateArticle">
        UPDATE article SET content = #{content},title = #{title},modify_date = #{modifyDate}
        WHERE id = #{id};
    </update>
    <delete id="deleteArticle">
        DELETE FROM article WHERE id = #{id}
    </delete>

    <select id="getArticleByAuthorId" parameterType="Integer" resultType="com.xyt.model.Article">
        SELECT * FROM article WHERE author_id = #{authorId}
    </select>
    <select id="getArticleById" resultType="com.xyt.model.Article">
        SELECT id,title,content,author_id,create_date,modify_date FROM article WHERE id = #{id}
    </select>
</mapper>