<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xyt.mapper.ArticleMapper">

    <insert id="insertArticle" parameterType="com.xyt.entity.Article">
        INSERT INTO article (parent_id,title,content) VALUES(#{parentId},#{title},#{content});
    </insert>
    <update id="updateArticle" parameterType="com.xyt.entity.Article">
        UPDATE article SET parent_id = #{parentId}, title=#{title},content = #{content}
        WHERE id = #{id}
    </update>
    <delete id="deleteArticleById">
        DELETE FROM article WHERE id = #{id}
    </delete>
    <select id="selectArticleById" resultType="com.xyt.entity.Article">
        SELECT * FROM article WHERE id = #{id}
    </select>
    <select id="selectArticlesByParentId" resultType="com.xyt.entity.Article">
        SELECT * FROM article WHERE parent_id = #{parentId}
    </select>

</mapper>